@model TicketBasket

<div class="row w-100 mx-0">
	<div id="status-0" class="col-4 d-flex flex-column status-container px-0">
		<ul class="list-unstyled h-100 m-0">
			@foreach (var item in Model.active)
			{
				@await Component.InvokeAsync("Ticket", item)
				@await Component.InvokeAsync("Details", item)
			}
		</ul>
	</div>
	<div id="status-1" class="col-4 d-flex flex-column status-container px-0 mr-0">
		<ul class="list-unstyled h-100 m-0">
			@foreach (var item in Model.squashing)
			{
				@await Component.InvokeAsync("Ticket", item)
				@await Component.InvokeAsync("Details", item)
			}
		</ul>
	</div>
	<div id="status-2" class="col-4 d-flex flex-column status-container px-0">
		<ul class="list-unstyled h-100 m-0">
			@foreach (var item in Model.squashed)
			{
				@await Component.InvokeAsync("Ticket", item)
				@await Component.InvokeAsync("Details", item)
			}
		</ul>
	</div>
</div>

<script>
	$(".status-container").droppable({
		accept: '.ticket-listitem',
		drop: function (event, ui) {
			var ticket = $(ui.draggable);
			statusTicket('@Model.projectName', ticket, $(this));
		},
		classes: {
			'ui-droppable-hover': 'status-container-highlight'
		},
	});
</script>