@model BugTracker.Models.TicketModel

<div class="modal fade" id="addTicket" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addTicketModal">New Bug</h5>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-0">
				<form asp-action="AddTicket">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Urgency:</label>

						<div class="dropdown show">
							<a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
								none
							</a>
							<input asp-for="Urgency" type="hidden" class="form-control urgencyInput" value="0" />
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">none</a>
								<a class="dropdown-item" href="#">vital</a>
								<a class="dropdown-item" href="#">average</a>
								<a class="dropdown-item" href="#">minor</a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Description:</label>
						<textarea asp-for="Description" class="form-control" rows="15" style="resize: none;"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
					<div class="modal-footer justify-content-center">
						<button type="submit" value="Create" class="btn btn-info">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}