@{
	ViewData["Title"] = "Home Page";
}
@model TicketModel

<div class="topbar container-fluid py-sm-3">
	<div class="row">
		<div class="col-sm-7 align-self-center text-center"><h4 class="float-sm-left ml-1">Awesome Project</h4></div>
		<div class="col-sm-5 align-self-center text-center"><p class="mb-2 mr-1"><button type="button" data-toggle="modal" data-target="#addTicket" class="btn btn-info float-sm-right">+ Add Task</button></p></div>
	</div>
</div>

<div class="sidebar px-3 d-none d-sm-block">
	<h5 class="mb-1">Team</h5>
	<hr class="mt-0 mb-2"/>
	<p class="list-inline">Nick</p>
</div>

<div class="workarea">
	<div class="container-fluid m-0 mw-100 p-0">
		<div class="row mx-0">
			<div class="col-4">
				<span class="lead">Active</span>
			</div>
			<div class="col-4">
				<span class="lead">Squashing</span>
			</div>
			<div class="col-4">
				<span class="lead">Squashed</span>
			</div>
		</div>
	</div>
	<div id="ticket-view-container" class="container-fluid d-flex m-0 mw-100 h-100 mx-0 px-0">
		@*@await Component.InvokeAsync("BasketContainer")*@
		<script>getTicketBasket();</script>
	</div>
</div>

<partial name="AddTicket" model="Model" />

<div id="details-container"></div>