@{
	ViewData["Title"] = "Projects";
}
@model IEnumerable<BugTracker.Models.ProjectModel>

<div class="row h-100 justify-content-center">
	<div class="col-4 d-flex flex-column justify-content-center">
		<div class="card align-items-center">
			<textarea id="add-text" rows="1" style="resize:none;"></textarea>
			<button class="btn btn-primary" onclick="addProject()">Create</button>
		</div>
		<div class="card">
			@foreach (var item in Model)
			{
				<span>@item.ProjectName</span>
			}
		</div>

	</div>
</div>

<script src="~/js/projects.js"></script>