@model TicketModel
@{
	var iden = Model.TicketId;
}

<li id="@("item-"+Model.TicketId)" class="ticket-listitem mx-2 my-3 @("status-"+Model.Status)" onclick="showDetailsModal('@iden');">
	<div class="ticket-container">
		<div class="ticket-urgency @("urgency-"+Model.Urgency) p-1"></div>
		<div class="ticket-content m-3 h-100">
			<span>@Html.DisplayFor(modelItem => Model.Description)</span>
		</div>
	</div>
</li>

<script>
	$(".ticket-listitem").draggable({
		start: function (event, ui) {
			$(this).addClass('noclick');
		},
		cursor: "grabbing",
		zIndex: 100,
		revert: true,
		revertDuration: 200,
	});
</script>