body {
	padding-top: 48px;
}

html, body {
	height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	height: 100% !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.navbar .container {
	margin-left: 0px !important;
}

.container .row {
	display: flex !important;
	align-items: center !important;
}

.header-color {
	background-color: #222831 !important;
}

.ticket-listitem {
	cursor: pointer;
}

.ticket-container {
	background-color: #ffffff;
	border: 1px solid lightgrey;
	border-radius: 8px 8px 5px 5px;
}

.ticket-urgency {
	border-radius: 5px 5px 0px 0px;
}

.ticket-content {
	max-width: 100%;
}

.urgency-none {
	background-color: #cccccc !important;
}

.urgency-vital {
	background-color: darkred !important;
}

.urgency-average {
	background-color: #e8b019 !important;
}

.urgency-minor {
	background-color: #8bb863 !important;
}

#siteLogo {
	font-family: 'Nova Square', cursive !important;
	color: #ede68a;
}

#siteNav {
	border-left: 1px solid lightgrey;
	padding-left: 5px;
}

.status-container-highlight {
	background-color: lightgrey;
}

.noclick {
	cursor: grabbing;
}

.sidebar {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	padding-top: 128px;
}

.topbar {
	z-index: 2;
	background-color: white;
}

.workarea {
	margin-left: 0px;
	padding: 0px 10px;
	height: 100%;
	background-color: #e8ebef;
}

@media (min-width: 576px) {
	.workarea {
		margin-left: 160px;
	}
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #808080;
	border-radius: 10px;
}

.unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#custom-bg {
	background-color: #2f3032;
	background-image: url("../backgrounds/black-felt.png");
	position: relative;
}

#login-container {
	height: 40%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#login-logo {
	font-family: 'Nova Square', cursive !important;
	font-size: 500%;
	color: #ede68a;
}

#login-button {
	height: 56px;
	width: auto;
}

#login-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
	width: auto;
}

#login-img {
	margin-top: 10px;
	padding-right: 300px;
}

#login-img-m {
	display: none;
	margin-top: 0px;
	padding-right: 0px;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@media (max-width: 612px) {
	#login-img {
		display: none;
	}
	#login-img-m {
		display: block;
	}
}

#slogan {
	color: #4c4e68;
	margin-bottom: 6rem !important;
}

#projects-container {
	background-color: #4c4e68;
}

#projects-add {
	position: absolute;
	bottom: 0;
	left: 50%;
	align-items: center;
	justify-content: center;
	margin-bottom: 6rem !important;
}