@model TicketBasket

<div class="row flex-grow-1">
	<div class="col-4 d-flex flex-column" ondragover='onDragOver(event);' ondragleave='onDragLeave(event);' ondrop='onDrop(event);'>
		@{Model.ticketList = Model.active; Model.ticket.Status = 0;}
		<partial name="_DisplayTickets" model="Model" />
	</div>
	<div class="col-4 d-flex flex-column" ondragover='onDragOver(event);' ondragleave='onDragLeave(event);' ondrop='onDrop(event);'>
		@{Model.ticketList = Model.squashing; Model.ticket.Status = 1;}
		<partial name="_DisplayTickets" model="Model" />
	</div>
	<div class="col-4 d-flex flex-column" ondragover='onDragOver(event);' ondragleave='onDragLeave(event);' ondrop='onDrop(event);'>
		@{Model.ticketList = Model.squashed; Model.ticket.Status = 2;}
		<partial name="_DisplayTickets" model="Model" />
	</div>
</div>